<div class="home">
  <div class="info">
    <a href="/" class="logo"><%= config.title %></a>
    <div class="subtitle"><%= config.subtitle || '' %></div>
    <div class="sns">
      <% for (let item in theme.sns) { %>
          <a href="<%- url_for(theme.sns[item]) %>"><%= item %></a>
      <% } %>
    </div>
    <%- partial('_partial/footer') %>
  </div>
</div>